Source: ros-kilted-diagnostics
Section: misc
Priority: optional
Maintainer: Austin Hendrix <namniart@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-kilted-ament-cmake, ros-kilted-ros-workspace
Homepage: http://www.ros.org/wiki/diagnostics
Standards-Version: 3.9.2

Package: ros-kilted-diagnostics
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kilted-diagnostic-aggregator, ros-kilted-diagnostic-common-diagnostics, ros-kilted-diagnostic-updater, ros-kilted-self-test, ros-kilted-ros-workspace
Description: diagnostics
